<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.BlogMapper">
    <resultMap id="blogBo" type="BlogBo">
        <id property="autoId" column="auto_id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 新建用户 -->
    <insert id="saveBlogContent_BLOG" useGeneratedKeys="true" keyProperty="autoId" parameterType="BlogBo">
        INSERT INTO
        blog(
        title,
        content
        )VALUE (
        #{title},
        #{content}
        )
    </insert>

    <!-- 用户登录验证 -->
    <select id="countUser_USER" resultType="Integer">
        SELECT
        count(*)
        FROM
        user
        where
        user_name = #{userName}
        and
        password = #{password}
    </select>

</mapper>