<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.UserMapper">
    <resultMap id="userBo" type="UserBo">
        <id property="autoId" column="auto_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 新建用户 -->
    <insert id="insertUser_USER" useGeneratedKeys="true" keyProperty="autoId" parameterType="UserBo">
      INSERT INTO
        user(
        user_name,
        password
      )VALUE (
        #{userName},
        #{password}
      )
    </insert>

    <!-- 用户登录验证 -->
    <select id="countUser_USER" resultType="Integer">
        SELECT
          count(*)
        FROM
          user
        where
          user_name = #{userName}
          and
          password = #{password}
    </select>

</mapper>